*{
    padding: 0;
    margin: 0; 
    --bg-color:  #9384F5;
   /* --border-color:#9384C1; */
   box-sizing: border-box;
   
   }
   
   
   body {
    
   background-color: var(--bg-color); 
   min-height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
   
}


   .container{
     
       background-color: #fff;
       padding: 10px;
       border-radius: 20px;
       box-shadow: 1px 15px 20px 5px  black;
       width: 60vw;
       max-width: 500px;   
       
   
   }
   
  
   
   
    .Head h1{

        margin: 10px 0;
       text-align: center;
       font-family: 'Darumadrop One', cursive;
       background-color: var(--bg-color);
       color: white;
       font-size: 3rem;
       border-radius: 8px;
       text-transform: uppercase;
       
   }
   

   .jokes  {

    font-size: 1.5rem;
    padding: 10px;
    margin:10px;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}



   .icon{

       max-width: 50px;
       cursor: pointer

    }
   .icon1{

       max-width: 40px;
       cursor: pointer;
   }
   
   .btns{
   
    display: flex;
    justify-content: space-around;

   }
  
  
   .btn{
   
   font-family: Roboto, sans-serif;
   font-size: 1.2rem;
   color: #fff;
   background-color: #9384f5;
   padding: 10px 30px;
   border: solid #9384c5 2px;
   border-radius: 50px;
   align-items: center;
   cursor: pointer;
   
   }
   
   
   
   